nav li a:hover{
    color: black;
}

#carouselExampleIndicators{
    display: block;
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

.formCompleto{
    background-color: rgb(182, 182, 182);
}
.divForm{
    display: flex;
    justify-content: center;
}
form{
    max-width: 60%;
    gap: 15px;
    padding-bottom: 30px;
}
form button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

h1{
    display: flex;
    justify-content: center;
    align-content: center;  
}


.divCard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}


footer{
    background-color: rgb(99, 91, 91);
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
footer a img{
    width: 80px;
    height: 80px;
}

footer svg{
    width: 70px;
    height: 70px;
}